body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: black;
  background-color: white;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

footer {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
}

ul,
ol {
  list-style: none;
}

.hero {
  background-color: #2e2f42;
}

.main-nav-list {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.footer-logo {
  font-weight: 700;
  font-size: 18px;
  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-web {
  color: #4d5ae5;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  /* line-height: 60px; */
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  background-color: #4d5ae5;
  cursor: pointer;
}

#contacts {
  background-color: #f4f4fd;
}

.team-member {
  background-color: white;
}

.team-name,
.team-role {
  text-align: center;
}

.contact-info:hover,
.contact-info:active {
  color: #404bbf;
}

.hero-btn:hover {
  background-color: #404bbf;
}
